<div class="rhymeUnit">
<h1>韻、踏みます。</h1>
<h2>ラップ好きのラップ好きによるラップ好きのためのサイトです</h2>
<!--/rhymeUnit --></div>

<div class="slider">
    <div><%=image_tag "images_rhyme_01.png" %></div>
    <div><%=image_tag "images_rhyme_02.jpg" %></div>
    <div><%=image_tag "images_rhyme_03.jpg" %></div>
    <div><%=image_tag "images_rhyme_05.jpg" %></div>
</div>

<div class="rhymesContents">
<div class="rhymeUnit rhymeC1 rhymeAC">
<div class="rhymeTxt">
<p>そもそも韻を踏むとは</p>
<p>韻を踏むとは同じ単語や同じ音を持つ言葉を繰り返すことでリズム感や余韻を楽しむことです。</p>
<p>「布団が吹っ飛んだ」「電話にでんわ」などのダジャレも確かに韻を踏んでいますが、個人的には、『韻≠ダジャレ』だと思ってます。</p>
<p><%=link_to "もっと詳しくはこちら" ,"https://in-note.com/article?id=1"%></p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_01.png" ,:size =>'350x300',:class=>"image"%>
</div>
<!--/rhymeUnit --></div>

<div class="rhymeUnit rhymeC2 rhymeAC">
<div class="rhymeTxt">
<p>MCバトル</p>
<p>ラッパーが一対一でフリースタイルのスキルを競い合い、勝敗を付けることをいいます。</p>
<p>主な大会は「UMB」「UMB」「戦極」「KOK」「凱旋」などがあります。</p>
<p><%=link_to "どんな大会があるのか知りたい方はこちら" ,"https://note.com/chibakun/n/n43058bc12054"%></p>
<p><%=link_to "イチオシのMCバトル一覧" , battle_index_path%></p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_02.jpg" ,:size =>'350x300',:class=>"image"%>
</div>
<!--/rhymeUnit --></div>

<div class="rhymeUnit rhymeC1 rhymeAC">
<div class="rhymeTxt">
<p>音源</p>
<p>ラップはMCバトルだけではありません。</p>
<p>それぞれのラッパーが自分の才能をフルに使って作った音源は当たり前ですが、やはり「かっこいい」です。</p>
<p><%=link_to "イチオシの音源一覧" ,music_index_path%></p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_03.jpg" ,:size =>'350x300',:class=>"image"%>
</div>
<!--/rhymeUnit --></div>

<div class="rhymeUnit rhymeC2 rhymeAC">
<div class="rhymeTxt">
<p>MC</p>
<p>そんなかっこいいラッパーたちを紹介します。</p>
<p>ぜひ、音源と一緒に気になったラッパーをチェックしてみましょう。</p>
<p><%=link_to "イチオシのMC一覧" ,rapper_index_path%></p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_06.jpg" ,:size =>'350x400',:class=>"image"%>
</div>
<!--/rhymeUnit --></div>
<!--/rhymeContents --></div>


