<div class="content">
        <a class="js-modal-open" href="" data-target="modal01">R指定</a><br>
        <a class="js-modal-open" href="" data-target="modal02">呂布カルマ</a><br>
        <a class="js-modal-open" href="" data-target="modal03">晋平太</a><br>
        <a class="js-modal-open" href="" data-target="modal04">SALU</a><br>
        <a class="js-modal-open" href="" data-target="modal05">ZORN</a><br>
        <a class="js-modal-open" href="" data-target="modal06">AKLO</a><br>
</div><!--content-->
     <div id="modal01" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>R指定</h1>
            <%=image_tag "Rshitei.jpg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->

    <div id="modal02" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>呂布カルマ</h1>
            <%=image_tag "ryofukarma.webp" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->

     <div id="modal03" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>晋平太</h1>
            <%=image_tag "SHINPETA.jpg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->

    <div id="modal04" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>SALU</h1>
            <%=image_tag "salu.jpeg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->

     <div id="modal05" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>ZORN</h1>
            <%=image_tag "zorn.jpeg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->

     <div id="modal06" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>AKLO</h1>
            <%=image_tag "aklo.jpeg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->
  <%=link_to "ラッパーを追加する" ,new_rapper_path%><br>
  <%=link_to "トップページへ戻る" ,rhymes_path%>