<!DOCTYPE html>
<html>
  <head>
    <title>RhymeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="slick.css">
    <link rel="stylesheet" href="slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> 
  </head>
   
  <body>
  <header class="header">
    <i class="fas fa-bars header__icon"></i>
  </header>
    <%= yield %>
  </main>
<aside class="sidebar">
  <div class="sidebar__inner">
    <h2 class="sidebar__ttl">Menu</h2>
    <i class="fas fa-times-circle sidebar__icon"></i>
  </div>
  <p class="sidebar__txt">Menu 1</p>
  <p class="sidebar__txt">Menu 2</p>
  <p class="sidebar__txt">Menu 3</p>
  <p class="sidebar__txt">Menu 4</p>
  <p class="sidebar__txt">Menu 5</p>
</aside>
<div class="sidebar-bg"></div>
  </body>
</html>
